:root {
  --color-bg: #f9f9f9;
  --color-text: #000000;
  --color-primary: #ff0000;
  
  --font-main: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  /* hide default cursor when we use custom cursor */
  cursor: none; 
}

/* Base Link Styles */
a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

button {
  cursor: none;
  font-family: inherit;
}

/* Lenis Smooth Scroll Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
